# Скопируйте в .env:  cp .env.example .env

ENV=PROD
SECRET_KEY=change-me-to-random-string

NGINX_HOST=10.0.3.15
NGINX_PROXY=http://identidock:9090

POSTGRES_USER=identidock-user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=identidock
POSTGRES_PORT=5432
