# ─── Приложение ─────────────────────────────
ENV=DEV
SECRET_KEY=dev-not-for-prod-secret-key

# ─── Nginx proxy ────────────────────────────
NGINX_HOST=10.0.3.15
NGINX_PROXY=http://identidock:9090

# ─── PostgreSQL ─────────────────────────────
POSTGRES_USER=identidock-user
POSTGRES_PASSWORD=123456
POSTGRES_DB=identidock
POSTGRES_PORT=5432
